+font-face("GilroyLight", "../fonts/gilroy/Gilroy-Light")
+font-face("GilroyRegular", "../fonts/gilroy/Gilroy-Regular")
+font-face("GilroySemiBold", "../fonts/gilroy/Gilroy-SemiBold")
+font-face("FuturaNowHeadline", "../fonts/futura/FuturaNowHeadline")
+font-face("FuturaNowHeadlineLight", "../fonts/futura/FuturaNowHeadline-Light")
+font-face("MoldeExpandedRegular", "../fonts/molde/Molde-Expanded-Regular")


=glight
	font-family: "GilroyLight", arial, sans-serif
=greg
	font-family: "GilroyRegular", arial, sans-serif

=gsembol
	font-family: "GilroySemiBold", arial, sans-serif

=flight
	font-family: "FuturaNowHeadlineLight", arial, sans-serif

=freg
	font-family: "FuturaNowHeadline", arial, sans-serif

=mreg
	font-family: "MoldeExpandedRegular", arial, sans-serif


// project
$col-proj: #FF255A
$col-gold-text: #FFECCC
$col-gray-text: #979797

// default
$w: #ffffff
$b: #000000
$b96: #969696
$b8: #888888
$f5: #F5F5F5

$lg-path-images: "../img"

$modal-xl: 1300px
