.main__footer
    position: relative
    background-color: $b
    min-height: 100vh
    overflow: hidden
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    +r(992)
        min-height: auto

    #main__footer_anim
        position: absolute
        top: -30%
        left: 10%
        flex-basis: 30%
        max-width: 30%
        +rrh(650,1600)
            left: 0
        +r(992)
            flex-basis: 50%
            max-width: 50%
            top: -40%

.main__footer_body
    min-height: 100vh
    display: flex
    justify-content: space-between
    align-items: center
    +r(992)
        flex-direction: column
        padding: 50px 0
        grid-gap: 50px

.main__footer_payment
    padding-top: 80px
    +r(992)
        width: 100%


.main__footert_headline_bg:before
    content: ""
    background-image: url("../img/main-footer-bg-color.png")
    background-repeat: no-repeat
    background-position: center center
    width: 60%
    height: 50%
    position: absolute
    left: 0%
    top: 10%
    +rrh(650,1600)
        height: 60%
        left: -10%
        top: 5%
    +r(992)
        top: -10%
        left: -6%
        width: 70%
        height: 60%

.main__footer_title
    h2
        font-size: 80px
        text-transform: uppercase
        color: #FFFFFF
        +mreg
        +rrh(650,1600)
            font-size: 75px
        +r(1370)
            font-size: 65px

.main__footer_list
    flex-basis: 30%
    max-width: 30%
    +r(992)
        flex-basis: 100%
        max-width: 100%
    ul
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-gap: 60px 0
        margin: 0
        padding: 100px 0 0
        +rrh(650,1600)
            padding: 20px 0 0
            grid-gap: 40px

    span
        display: block
        line-height: 27px
        letter-spacing: -0.02em
        text-transform: uppercase
        +mreg

    span:nth-of-type(1)
        font-size: 16px
        padding-bottom: 20px

    span:nth-of-type(2)
        font-size: 30px

.main__footer_forms
    position: relative
    padding: 40px
    +r(992)
        width: 100%
    &::before
        content: ""
        z-index: -1
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        background: linear-gradient(142.54deg, rgba(0, 201, 228, 0.5) 64.86%, rgba(0, 113, 86, 0.5) 98.27%)
        filter: blur(15px)

.main__footer__forms_title
    font-size: 30px
    padding-bottom: 30px
    +mreg

.main__footer_forms__list
    padding: 0 0 30px
    margin: 0

.main__footer_forms__list-item
    font-size: 16px
    display: flex
    align-items: center
    grid-gap: 10px
    line-height: 20px
    padding-bottom: 15px
    letter-spacing: -0.02em

    &::before
        content: ""
        width: 8px
        height: 8px
        background-color: $w
        display: flex
        align-items: center
        border-radius: 50%

.main__footer__form
    .form-control
        background-color: transparent
        border: none
        padding: 15px
        border-bottom: 1px solid $w
        border-radius: 0
        font-size: 14px
        color: $w
        +greg
        &::placeholder
            font-size: 14px
            line-height: 17px
            color: $w
            +greg

.main__footer__btn
    font-size: 18px
    text-transform: uppercase
    background: linear-gradient(92.15deg, #00C999 -23%, #005B68 89.86%)
    padding: 10px 0
    color: $w
    width: 100%
    margin-top: 30px
