.main__forest
    position: relative
    background-color: $b
    min-height: 100vh
    overflow: hidden
    background-repeat: no-repeat
    background-position: center center
    background-size: cover

.main__forest_title
    font-size: 30px
    text-transform: uppercase
    padding: 200px 0 30px
    +mreg
    +r(1440)
        padding: 100px 0 30px
    +rrh(650,1600)
        padding: 80px 0 10px

.main__forest_img__title
    font-size: 18px
    text-transform: uppercase
    padding-bottom: 30px
    +mreg

.main__forest_container
    +r(992)
        min-height: 100vh
        display: flex
        flex-direction: column
        justify-content: space-between

.main__forest_img:nth-of-type(2)
    position: absolute
    right: 0
    top: 70%
    display: flex
    flex-direction: column
    align-items: end
    +rrh(650,1600)
        top: 40%
        right: 12%
    +r(1370)
        top: 50%
        right: 3%
    +rrh(820,1185)
        right: 0
        top: 60%
    +r(992)
        top: 55%
        img
            +rrh(820,1185)
                width: 80%

.main__forest_btn
    font-size: 18px
    text-transform: uppercase
    padding: 10px 100px
    background: linear-gradient(91.76deg, #7E003D 9%, #FD0D62 106.3%)
    margin-top: 100px
    color: $w
    +mreg
    +rrh(650,1600)
        margin-top: 30px
    +r(992)
        width: 100%

.main__forest_img:nth-of-type(1)
    +r(992)
        position: absolute
        left: -5%
        top: 20%
        +r(768)
            left: 2%
    img
        position: relative
        +rrh(650,1600)
            width: 50%
        +rrh(820,1185)
            width: 70%
        +r(768)
            width: 90%

#main__forests_anim
    position: absolute
    right: 20%
    top: -40%
    +rrh(650,1600)
        right: 30%
    +rrh(820,1185)
        right: 5%
    +r(992)
        right: -15%
        top: -90%
        
